@charset "utf-8";
.stage { 
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:#333;
    /* perspective:800px; */
}
.door {
    position: relative;
    width:100px;
    height:150px;
}
.door-back {
    overflow:hidden;
    position:absolute;  
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
}
.girls {
    position:absolute;
    left:0;
    bottom:0;
    width:100px;
    height:100px;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-size:contain;
    transform:translate3d(100%,0,0);
    transition:0.5s 0.5s;
}
.door:nth-child(1) .girls{
    background-image:url(../images/girls1.png);
}
.door:nth-child(2) .girls{
    background-image:url(../images/girls2.png);
}
.door:nth-child(3) .girls{
    background-image:url(../images/girls3.png);
}
.door-body {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:0.5s;
    transform-origin:0%;
}
.door:nth-child(1) .door-body{
    background:rgba(255,0,0,0.7);
}
.door:nth-child(2) .door-body{
    background:rgba(0,255,0,0.7);
}
.door:nth-child(3) .door-body{
    background:rgba(0,0,255,0.7);
}
.door-opened .door-body {
    transform:perspective(800px) rotateY(-110deg);
}
.door-opened .girls {
    transform:translate3d(0,0,0);
    transition:0.5s;
}
